/* a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 120px;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
} */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@font-face {
  font-family: 'Gotham Bold';
  src: url('./webfonts/Gotham-Bold.eot');
  src: url('./webfonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
      url('./webfonts/Gotham-Bold.woff2') format('woff2'),
      url('./webfonts/Gotham-Bold.woff') format('woff'),
      url('./webfonts/Gotham-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('./webfonts/Gotham-Book.eot');
  src: url('./webfonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
      url('./webfonts/Gotham-Book.woff2') format('woff2'),
      url('./webfonts/Gotham-Book.woff') format('woff'),
      url('./webfonts/Gotham-Book.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Bold Italic';
  src: url('./webfonts/Gotham-BoldItalic.eot');
  src: url('./webfonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./webfonts/Gotham-BoldItalic.woff2') format('woff2'),
      url('./webfonts/Gotham-BoldItalic.woff') format('woff'),
      url('./webfonts/Gotham-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('./webfonts/Gotham-Light.eot');
  src: url('./webfonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
      url('./webfonts/Gotham-Light.woff2') format('woff2'),
      url('./webfonts/Gotham-Light.woff') format('woff'),
      url('./webfonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Book Italic';
  src: url('./webfonts/Gotham-BookItalic.eot');
  src: url('./webfonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
      url('./webfonts/Gotham-BookItalic.woff2') format('woff2'),
      url('./webfonts/Gotham-BookItalic.woff') format('woff'),
      url('./webfonts/Gotham-BookItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Light Italic';
  src: url('./webfonts/Gotham-LightItalic.eot');
  src: url('./webfonts/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('./webfonts/Gotham-LightItalic.woff2') format('woff2'),
      url('./webfonts/Gotham-LightItalic.woff') format('woff'),
      url('./webfonts/Gotham-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('./webfonts/Gotham-Medium.eot');
  src: url('./webfonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
      url('./webfonts/Gotham-Medium.woff2') format('woff2'),
      url('./webfonts/Gotham-Medium.woff') format('woff'),
      url('./webfonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Medium Italic';
  src: url('./webfonts/Gotham-MediumItalic.eot');
  src: url('./webfonts/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('./webfonts/Gotham-MediumItalic.woff2') format('woff2'),
      url('./webfonts/Gotham-MediumItalic.woff') format('woff'),
      url('./webfonts/Gotham-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: 'Gotham';
}

img {
  width: initial !important;
  height: initial !important;
  position: relative !important;
  min-width: initial !important;
  min-height: initial !important;
  max-width: initial !important;
  max-height: initial !important;
  margin: initial !important;
  display: inline !important;
}

/*<!-- Header css start here -->*/
.homepage-image {
  position: fixed;
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #347fc8;
}
.homepage-image span {
  display: block;
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}
.homepage-image span img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.bg-img {
  min-height: 1057px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.mobile-inquiry-call {
  display:none;
}
.main-wrap {
  display: flex;
  padding:14px 0;
  align-items: center;
  justify-content: space-between;
      padding-left: 40px;
}
.mobile-nav {
  display: none;
}
.logo-wrap {
  width: 37%;
}
.villazzo-logo-wrap {
  width: 280px;
  position: relative;
  display: block;
}
.main-logo span {
  display: block;
  position: relative !important;
}
.main-logo img {
  width: 100% !important;
  height: 100%;
}
.see-more-text, .visit-text {
  display: flex;
  justify-content: center;
  margin-top: 7px;
      align-items: center;
}
.visit-text {
      padding-left: 3px;
}
.see-more-text p,
.visit-text > p:first-child {
  color: #fff;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin: 0px;
  font-weight: 400;
  letter-spacing: 0.4px;
  width: max-content;
}
.see-more-text p.drop-down, .visit-text p.drop-down {
  font-size: 14px;
      font-weight: 300;
    line-height: 0;
  margin-left: 3px;
  margin-bottom: 0px;
  text-align: right;
}
.visit-text p.drop-down {
      width: 15px;
}
.see-more-text p.drop-down {
  width: 20px;
}
.inquiry-wrap {
    padding-top: 25px;
}
.inqury-btn {
  display: flex;
  align-items: center;
  font-family: 'Gotham Medium', sans-serif;
}
.inquiry a {
  color: #fff;
  text-decoration: none;
  font-family: 'Gotham Light', sans-serif;
  font-size: 20px;
}
.inquiry a.desktop-inquiry-call {
      font-size: 25px;
    margin-bottom: 10px;
    display: inline-block;
    letter-spacing: 0.4px;
}
.navbar {
  padding:0px;
}
.navbar-expand-lg .navbar-nav {
  margin: auto;
  padding: 2px 0px;
      justify-content: space-between;
    align-items: center;
    width: 1280px;
}
.nav-item {
  text-transform: uppercase;
  position: relative;
      margin: 0 20px;
          width: 280px;
}
.navbar-light .navbar-nav .nav-link, 
.navbar-light .navbar-nav .show>.nav-link {
    color: #555;
    font-family: Gotham,sans-serif;
    text-align: center!important;
    padding: 20px 10px!important;
    position: relative;
    font-weight: 500;
    font-size: 22px;
    line-height: 23px;
}
.nav-item:last-child a.nav-link{text-align: right;}
.navbar-light .navbar-nav .nav-link.showIcon {
  padding-right: 30px !important;
}
.navbar-light .navbar-nav .nav-link.showIcon::after {
  content:"";
  width:27px;
  height:26px;
  position: absolute;
  margin-left:10px;
  top:17px;
  background: url('../images/villazzo-symbol.png') no-repeat;
}
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .show>.nav-link:hover{
  color: #000;
  font-weight: 400;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
    overflow:hidden;
	}
	100% {
		opacity: 1;
    height:auto;
	}
}
.dropdown-menu {
  transition-duration: 0.6s !important;
  width: 255px!important;
    margin: auto;
    left: 0;
    right: 0;
}
.navbar-light .navbar-nav .nav-item:hover .dropdown-menu {
  display:block !important;
  animation: fadeIn 0.6s ease 0s 1 normal forwards;
  padding:0px;
  margin-top: -1px;
  border-radius: 0px;
  width:100%;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.20);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.20);
}
.dropdown-item {
  padding:18px 15px;
  font-size:17px;
  border-bottom: solid 1px #f0e6c7;
  font-family: 'Gotham', sans-serif;
  text-align: center;
  line-height: 18px;
}
.dropdown-item:hover {
  color:#dac172;
  font-family: 'Gotham', sans-serif;
  background: none !important;
}
.dropdown-menu li:last-child .dropdown-item {
  border-bottom: none !important;
}
.drop-down a {
  color: #fff;
}
.header-content {
  display: flex;
  width: 45%;
  justify-content: space-between;
}
.inqury-btn a {
  color: #fff;
    text-decoration: none;
    background-color: #f7dd7f;
    padding: 12px 77px;
    font-size: 20px;
    transition-duration: .5s;
    font-family: Lato,sans-serif;
    font-weight: 800;
    line-height: 29px;
}
.inqury-btn a:hover {
  color: #000;
  background-color: #fff;
}
.bg-light {
  background-color: #f7dd80 !important;
}
.mb-inquiery {
  display: none;
}
/*<!-- Header css end here -->*/

.buttons-wrap .sell-buy-rent-buttons {
      display: flex;
    justify-content: space-between;
    width: 54%;
    margin: 355px auto auto;
    flex-wrap: wrap;
}
/*.sell-btn {
  width: 25%;
  text-align: center;
}*/
.sell-btn a {
color: #fff;
    text-decoration: none;
    background-color: #f7dd7f;
    padding: 11px 30px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    transition-duration: .5s;
    letter-spacing: 1px;
    text-align: center;
    font-family: Lato,sans-serif;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    display: block;
    line-height: 31px;
    width: 237px;
}
.sell-btn a:hover {
  background-color: #fff;
  color: black;
  text-transform: uppercase;
}
.hideOnDesk {
  display: none;
}

/*<!-- Footer css start here -->*/
.footer-container {
  width: 97%;
}
.footer-bg-color {
  background-color: #f7dd7f;
}
.footer-wrap {
  display: flex;
  padding:50px 0;
  flex-wrap: wrap;
}
.footer-links {
  display: flex;
  width: 55%;
}
.toll-wrap {
  margin: 0px;
  font-family: 'Gotham', sans-serif;
  width: 60%;
}
.toll-wrap p {
  margin: 0px 0px 20px 0px;
}
.toll-wrap a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.toll-wrap a:hover {
  color:#f47421;
  text-decoration: underline;
}
.navigate {
  display: flex;
}
.text-navigate {
  border-bottom: 1px solid;
  padding-bottom: 15px;
  font-family:"Lato", sans-serif;
}
.navigate-links {
  width: 50%;
  padding-top: 10px;
}
.navigate-sec1 {
  padding-bottom: 25px;
}
.footer-icons {
  display: flex;
  margin-top: 60px;
  align-items: center;
}
.footer-icons p {
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
}
.navigate-sec1 a {
  color: black;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.navigate-sec1 a:hover {
  text-decoration: underline;
  color: #f47421;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}
.footer-sec1 {
  width: 40%;
  font-family: 'Lato',sans-serif;
}
.footer-sec1 .toll-wrap, .footer-sec1 .toll-wrap p {
  font-family: 'Lato',sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.footer-sec1 .toll-wrap p {
  margin-bottom: 25px;
}
.footer-sec1 .toll-wrap p strong {margin-bottom: 12px;display: block;}
.footer-sec1 .toll-wrap p br {display: none;}
.footer-sec1 .toll-wrap p:last-child {
    margin: 0px;
}
.navigate-wrap {
  width: 60%;
  padding-right: 60px;
}
.navigate-wrap p {
  font-size: 18px;
}
.icons-wrap {
  margin-left: 20px;
}
.icons-wrap a {
  padding: 0px 7px;
  color: black;
  font-size: 20px;
}
.icons-wrap a:hover {
  color: #f47421;
}
.footer-images {
  display: flex;
  justify-content: space-between;
}
.footer-images-wrap {
  width: 45%;
}
.footer-img {
  width: 47%;
  display: block;
  position: relative;
  border:solid 2px transparent;
}
.footer-img:hover {
  border:solid 2px #f47421;
}
.footer-img .featured-img {
  height:230px;
  overflow: hidden;
}
.footer-img .featured-img img {
  height:230px !important;
  min-width: 100% !important;
  width:auto !important;
  left:0 !important;
}
.footer-img .footer-logo-img img {
  width:100% !important;
  height: auto !important;
}

.footer-img span, .footer-img .featured-img span, .footer-img .footer-logo-img span{
  display: block;
  position: relative !important;
}
/* .footer-img img {
  width: 100% !important;
} */
.footer-bottom {
  padding:16px 0px;
  background-color: #fff;
}
.footer-page-links {
  display: flex;
  justify-content: center;
  font-family: 'Gotham', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.year {
  padding: 5px 0px;
  width: 15%;
  text-align: center;
}
.year a {
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: 'Gotham', sans-serif;
}
.year a:hover {
  color:#f47421;
  font-family: 'Gotham', sans-serif;
}
.footer-icons {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 800;
}


buttons-wrap .sell-buy-rent-buttons {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 80%;
  margin-top: 280px;
  flex-wrap: wrap;
}
.sell-search-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin-top: 70px;
  flex-wrap: wrap;
}
.sell-search-container.buy {
  margin-top: 65px;
  width: 60%;
}
.selltxt {
  color: #fff;
  text-align: center;
  font-size: 22px;
  line-height: 34px;
  letter-spacing:0.5px;
  font-family: 'Lato', sans-serif;
}
h3.propertytxt {
  font-size: 55px;
  line-height: 45px;
  margin:0px 0px 25px 0px;
  font-family: "Gotham Light", sans-serif !important;
}
.selltxt p {
  margin: 0px;
}
.centered {
  text-align: center;
}
.sell-search-box {
  margin-top: 110px;
  display: flex;
  width: 460px;
  position: relative;
}
.buy .sell-search-box {
      margin-top: 55px;
}
.sell-search-box .fa-search {
  font-size: 24px;
  color:#555;
  position:absolute;
      left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
}
.search-input {
  background: #fff;
  border:none;
  width: 65%;
  font-size: 16px;
  color: #777675;
  padding:17px 20px 17px 50px;
  border-radius: 0px;
}
.search-input:focus {
  outline: solid 2px #f7dd80;
}
.search-button {
  width: 40%;
  border:none;
  color: #fff;
  background: #f7dd80 !important;
  cursor: pointer;
  font-size: 20px;
  padding:10px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
      display: flex;
    align-items: center;
    justify-content: center;
}
.search-icon-box .search-button.for-mobile {display: none;}
.search-icon-box {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.search-button.icon-btn {
  padding:12px 20px;
  display:block;
  width:auto;
}
.search-button:hover{
  color:#000;
}
.buy-search-box {
  width:100%;
  background-color: #fff;
  padding:25px 30px;
  margin:75px 0 0;
}
.buy-search-box label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #4c5557;
    font-family: 'Lato', sans-serif;
}
/*.sell-btn {
  width: 25%;
  text-align: center;
}
.sell-btn a {
  color: white;
  text-decoration: none;
  background-color: #f7dd7f;
  padding: 12px 0px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  transition-duration: 0.5s;
  letter-spacing:1px;
  width:180px;
  text-align: center;
  display:inline-block;
  font-family: 'Lato', sans-serif;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
}
.sell-btn a:hover {
  background-color: white;
  color: black;
  text-transform: uppercase;
}*/
.page_layout {
  background: #fff;
  display: block;
  min-height: 940px;
}
.hideOnDesk {
  display: none;
}


@media (min-width: 1580px){
  body .container {max-width: 1520px;}
  body .footer-images, body .footer-img span, body .footer-img .featured-img img {height: 100% !important;}
  body .footer-img .featured-img {height: 80%;}
}

@media only screen and (max-width: 1750px) {
  .toll-wrap {width: 80%;}
  .footer-sec1 .toll-wrap, .footer-sec1 .toll-wrap p, .navigate-wrap p, .navigate-sec1 a, .toll-wrap a {font-size: 16px;}
  .footer-icons {margin-top: 50px;}
}

@media only screen and (max-width: 1580px) {
  .navbar-expand-lg .navbar-nav {width: 1024px;}
  .nav-item {width: auto;}
  .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show>.nav-link {font-size: 18px;line-height: 18px;}
  .navbar-light .navbar-nav .nav-link.showIcon:after {width: 20px;background-size: contain;height: 20px;}
  h3.propertytxt {font-size: 40px;line-height: 30px;}
  .sell-search-box {margin-top: 70px;}
  .selltxt {font-size: 20px;}
  .sell-btn a {line-height: 20px;font-size: 16px;width: 180px;}
}

@media only screen and (max-width: 1400px) {
  .bg-img {min-height: 700px;}
  .villazzo-logo-wrap {width: 200px;}
  .inquiry a.desktop-inquiry-call {font-size: 20px;margin-bottom: 0px;}
  .inqury-btn a {line-height: 20px;font-size: 16px;}
  .buttons-wrap .sell-buy-rent-buttons {margin: 210px auto auto;}
  .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show>.nav-link {font-size: 18px;padding: 15px 10px!important;}
  .navbar-light .navbar-nav .nav-link.showIcon:after {top: 12px;}
  .toll-wrap a {font-size: 14px;}
  .footer-icons {margin-top: 45px;}
  .buy-search-box {margin: 40px 0 0;}
  .search-button.icon-btn {padding: 12px 10px;width: 100%;}
  .buy-search-box label, .form-control {font-size: 16px;}
}

@media only screen and (max-width: 1280px) {
  .navbar-expand-lg .navbar-nav {width: 980px;}
  .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show>.nav-link {font-size: 16px;line-height: 16px;padding: 14px 10px!important;}
  .navbar-light .navbar-nav .nav-link.showIcon:after {top: 10px;}
  .nav-item {width: auto;}
  .toll-wrap a {font-size: 12px;}
  .buy-search-box label, .form-control {font-size: 14px;}
  .inquiry-wrap {padding-top: 0px;}
  .sell-search-container.buy {width: 65%;}
}

@media only screen and (max-width: 1200px) {
  .toll-wrap p {
    font-size: 12px;
  }
  .toll-wrap a {
    font-size: 12px;
  }
  .text-navigate {
    font-size: 14px;
  }
  .footer-icons {
    margin-top: 48px;
  }
  .icons-wrap a {
    font-size: 16px;
  }
  .year a {
    font-size: 12px;
  }
  .visit-text {
    padding-left: 0px
  }

  .villazzo-logo-wrap {width: 150px;}
  .navbar-expand-lg .navbar-nav {width: 700px;}
  .nav-item {margin: 0;}
  .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show>.nav-link {font-size: 14px;line-height: 14px;}
  .sell-btn a {padding: 10px 0;width: 140px;font-size: 14px;line-height: 14px;}
  .see-more-text p, .visit-text>p:first-child {font-size: 10px;}
  .inqury-btn a {padding: 10px 40px;line-height: 14px;font-size: 14px;}
  .see-more-text p.drop-down, .visit-text p.drop-down {font-size: 12px;}
  .toll-wrap {width: 90%;}
  .footer-sec1 .toll-wrap, .footer-sec1 .toll-wrap p, .navigate-wrap p, .navigate-sec1 a, .toll-wrap a {font-size: 12px;}
  .footer-sec1 .toll-wrap p {margin-bottom: 15px;}
  .text-navigate {padding-bottom: 10px;margin-bottom: 10px;}
  .navigate-sec1 {padding-bottom: 15px;}
  .footer-icons {margin-top: 25px;}
  .navigate-wrap {padding-right: 20px;}
  .navigate-links {padding-top: 5px;}
  h3.propertytxt {font-size: 30px;line-height: 20px;}
  .selltxt {font-size: 16px;line-height: 26px;}
  .search-button {font-size: 14px;}
  .sell-search-box .fa-search {font-size: 16px;left: 10px;}
  .search-input {font-size: 16px;padding: 10px 15px 10px 35px;}
  .inquiry a.desktop-inquiry-call {font-size: 18px;}
  .sell-search-container.buy {width: 75%;}
}

@media only screen and (max-width: 1024px) {
  .buttons-wrap {
    width: 100%;
  }
  .icons-wrap a {
    font-size: 14px;
  }
  .footer-images {
    padding-left: 20px;
  }
  .nav-item {
    padding: 0px 20px;
  }

  .navbar-expand-lg .navbar-nav {padding: 0px;}
  .main-wrap {padding-left: 0px;}
  .navbar-expand-lg .navbar-nav {width: 90%;}
  .buttons-wrap .sell-buy-rent-buttons {width: 75%;}
  .footer-icons {margin-top: 0px;}
  .footer-bottom {padding: 5px 0;}
  .year {padding: 5px 20px;width: auto;}
  .sell-search-container {max-width: 700px;width: 90% !important;}
  .inquiry a.desktop-inquiry-call {font-size: 14px;}
}

@media only screen and (max-width: 991px) {
  .navbar-expand-lg .navbar-nav {
    margin: auto;
    background-color: #f7dd7f;
  }
  .navbar-collapse {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
  }
  .inquiry-wrap {
    width: auto;
    padding-top: 0px;
  }
  .see-more-text {
    margin-top: 0px;
  }
  .inqury-btn a {
    padding:10px 30px;
  }
  .header-content {
    width: 250px;
  }
  .navigate-wrap {
    padding-right: 0px;
  }
  .icons-wrap {
    margin-left: 0px;
    margin-top: -5px;
  }
  .year a {
    font-size: 11px;
  }
  .nav-item {
    padding: 0px 0px;
    width: 100%;
  }
  .main-wrap {
    padding: 10px 20px;
  }
  .logo-wrap {
    width: calc(100% - 250px);
  }
  .mb-inquiery {
    display: block;
  }
  .desktop-inquiry {
    display: none;
  }
  .see-more-text {
    margin-left: 0px;
  }
  header {
    position: relative;
  }
  header .navbar {
    padding: 0px;
    background: transparent;
    height: fit-content;
    margin: auto;
    position: unset;
  }
  header .navbar > div {
    padding: 0px;
    background: transparent;
  }
  .visit-text p {
    margin: 0px;
  }
  .visit-text p:first-child {
    margin: 0px 5px 0px 0px;
  }
  .villazzo-logo-wrap {
    width: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-logo {
    width: 140px;
  }
  .visit-text {
    margin: 5px auto 0;
  }
  .hideOnDesk {
    display: block;
  }
  .hideOnMob {
    display: none;
  }
  .navbar-expand-lg .navbar-nav {
    padding-left: 0px;
  }
  .navbar-light .navbar-nav .nav-link {
    border-bottom: 1px solid #c9b363;
    text-align: left !important;
  }
  .mb-drop a {
    color: #fff !important;
  }
  .nav-link {
    font-size: 14px;
  }
  .sell-btn {
    width: 28%;
  }
  .sell-btn a {
    width: 160px;
  }
  .bg-img {
    min-height: 600px;
  }
  .see-more-text p.drop-down, .visit-text p.drop-down {font-size: 12px;}
  .mobile-nav {display: block;order: 2;}
  .navbar-light .navbar-toggler {color: rgb(247 221 128);border-color: rgb(247 221 128);}
  .sell-search-box {margin-top: 50px;}
  .buy .sell-search-box {margin-bottom: 50px;}
  .inquiry a.desktop-inquiry-call, .see-more-text {display: none;}
  .mobile-inquiry-call {display: block;}
  .inquiry a {color: #f7dd7f;}
  .navbar-light .navbar-nav .nav-link.showIcon:after {display: none;}
  .nav-item a i {margin-left: 10px;}
  .dropdown-menu {border:unset;width: 100% !important;background: #e4ce7e;border-bottom: 1px solid #c9b363;box-shadow: unset;}
  .dropdown-menu .dropdown-item {padding: 14px 15px;font-size: 14px;text-align: left;}
  .dropdown-menu li:last-child .dropdown-item {color: #1e2125;}
}

@media only screen and (max-width: 768px) {
  .buttons-wrap {
    margin-top: 70px;
  }
  .footer-links {
    width: 100%;
  }
  .footer-sec1 {
    width: 50%;
  }
  .navigate-wrap {
    width: 50%;
  }
  .footer-images-wrap {
    width: 100%;
    padding-top: 20px;
  }
  .footer-images {
    padding-left: 0px;
  }
  .year {
    width: 25%;
  }
  .row > div {margin: 5px 0px;}
  .row > div.search-icon-box {margin-top: 30px;}
  .search-button.icon-btn {display: none;}
  .search-icon-box .search-button.for-mobile {width: 100%;display: block;}
  .sell-search-box {width: 100%;max-width: 460px;}
}

@media only screen and (max-width: 580px) {
  .header {
    padding: 0px
  }
  .main-wrap {
    background-color:#fff;
    flex-wrap: wrap;
    padding: 0px !important;
    max-width: 100%;
  }
  .navbar-light .navbar-nav .nav-item:hover .dropdown-menu {
    box-shadow:none !important;
  }
  .inqury-btn {
    display:block;
    order: 1;
    width:100%;
  }
  .inqury-btn a {
    display:block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing:1px;
    padding:10px 15px;
  }
  .inquiry-wrap {
    width: auto;
    padding-top: 5px;
    order: 4;
  }
  .mobile-inquiry-call  {
    display:block;
    padding:0px 20px;
  }
  .mobile-inquiry-call i {
    color: #f8de7f;
    font-size: 30px;
  }
  .desktop-inquiry-call, .see-more-text {
    display:none;
  }
  .inqury-btn a:hover, .inqury-btn a:focus {
    color: #000;
    background-color: #f7dd7f;
  }
  .mobile-nav {
    display: block;
    order:2;
  }
  .logo-wrap {
    width:auto;
    order: 3;
    padding: 8px 0px;
    flex-grow: 1;
  }
  .footer-images-wrap {
    padding-top:0px;
        padding-bottom: 10px;
  }
  .footer-images {
    flex-direction: column;
  }
  .footer-img .featured-img {
    height: 200px;
  }
  .footer-img .featured-img img {
    height: 280px !important;
  }
  .footer-img {
    width: 100%;
    margin-top: 20px;
  }
  .main-logo {
    width: 160px;
  }
  .footer-wrap {
    padding: 20px 0px 15px 0px;
  }
  .footer-container {
    width: 100%;
  }
  .footer-sec1 {
    width: 100%;
  }
  .navigate-wrap {
    width: 100%;
    display:none;
    padding-right: 0px;
  }
  .bg-img {
    min-height: 600px;
  }
  .buttons-wrap {
    /* margin-top: 45%; */
  }
  .footer-sec1 .left-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .footer-sec1 .toll-wrap p {
    text-align: center;
    font-size: 13px;
    color:#000;
  }
  .footer-sec1 .toll-wrap p:nth-child(4),
  .footer-sec1 .toll-wrap p:nth-child(5){
    width: 100%;
    margin:0px;
  }
  .footer-icons {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .year {
    width: 35%;
  }
  .year a {
    font-size: 10px;
  }
  .sell-btn {
    width: 100%;
    margin-bottom: 30px;
  }
  .text-navigate {
    font-size: 12px;
  }
  .navigate-sec1 a {
    font-size: 12px;
  }
  .footer-icons p {
    font-size: 12px;
  }
  .icons-wrap a {
    font-size: 14px;
    padding: 0px 5px;
  }
  .navigate-wrap {
    width: 100%;
  }
  .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.showIcon, .dropdown-item {
    padding: 12px 20px !important;
        font-size: 14px;
    line-height: 14px;
    text-align: left;
        border-bottom: 1px solid #c9b363;
  }
  .navbar-light .navbar-nav .nav-link .arrow {
    float:right;
    font-size: 16px;
    color:#bca03b;
  }
  .navbar-light .navbar-nav .nav-item:hover .dropdown-menu {
    display: none !important;
  }
  .navbar-light .navbar-nav .nav-item:hover .dropdown-menu.active {
    display: block !important;
  }
  .navbar-light .navbar-toggler,
  .navbar-light .navbar-toggler:hover,
  .navbar-light .navbar-toggler:focus,
  .navbar-light .navbar-toggler:active {
    border:none !important;
    color:#f8de7f !important;
    box-shadow:none !important;
    font-size: 24px;
    outline: none !important;
    outline-width: 0px !important;
    padding: 2px 10px 2px 20px;
  }
  header .navbar, .navbar-light .navbar-toggler:focus-visible {
    outline: none !important;
    outline-width: 0px !important;
    border:none !important;
  }

  .search-button {font-size: 12px;}
  .footer-page-links {flex-wrap: wrap;}
  .year {width: 100%;padding: 3px 20px;}
  .buttons-wrap .sell-buy-rent-buttons {margin: 180px auto auto;}
  .navbar-expand-lg .navbar-nav {width: 100%;}
  h3.propertytxt {margin: 0 0 10px;font-size: 22px;line-height: 30px;}
  .selltxt {font-size: 14px;line-height: 24px;}
  .buy-search-box {padding: 15px 20px;}
  .buy-search-box label, .form-control {font-size: 12px;}
  .visit-text {display: none;}
}

@media only screen and (max-width: 430px) {
  .main-wrap {
    background-color: #fff;
  }
  .header-content {
    width: 170px;
  }
  .visit-text p {
    margin-top: 0px;
    display:none;
  }
  .visit-text p:first-child {
    font-size: 10px;
  }
  .footer-links {
    flex-direction: column;
  }
  .text-navigate {
    max-width: max-content;
  }
  .navigate-wrap {
    width: 100%;
  }
  /*.footer-sec1 .toll-wrap {flex-direction: column;}*/
  .footer-sec1 .toll-wrap p {font-size: 10px;margin-bottom: 15px;}
  .footer-sec1 .toll-wrap p a {font-size: 10px;}
}
